@model MniamMniam.Models.CookBookModels.Recipe

@{
    ViewData["Title"] = "Details";
}
@{var averageScore = Model.Reviews.Select(p => p.Score).DefaultIfEmpty().Average(); }
<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />

    <img src="data:image/png;base64, @Model.Image" alt="Image" />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd>
            @foreach (var ing in Model.Ingredients)
            {
                @Html.DisplayFor(model => ing.Ingredient.Name)
                @Html.Raw(" ")
                @Html.DisplayFor(model => ing.Amount)
                @Html.DisplayFor(model => ing.Ingredient.Unit)
                <br />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @string.Join(" ", Model.Tags.Select(tag => tag.Tag.Name))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt>
            Score Average
        </dt>
        <dd>
            @averageScore
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AddFavourite" asp-route-id="@Model.Id">Add to favourites</a> |
    <a asp-action="Index">Back to List</a>
</div>


<h2>Reviews</h2>

<p>
    <a asp-controller="Reviews" asp-action="Create" asp-route-recipeId="@Model.Id">Create New review</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Score
            </th>
            <th>
                Text
            </th>
            <th>
                Last modification date
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reviews)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    <a asp-controller="Reviews" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Reviews" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
